body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  background-color: #fffaf0; /* light background for contrast */
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  max-width: 100%;
  border-radius: 50%;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin: 5px 10px;
  color: #333;
}
